@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700');

body {
  font-family: 'Work Sans';
  color: #333;
  margin: 0;
}

input, textarea, select, button {
  outline: none;
  font-family: 'Work Sans';
}

input {
	border: 1px solid #bdbdbd;
}

input:focus {
	background-color: rgb(248, 254, 255);
	border: 1px solid #56CCF2;
}

button:hover {
  cursor: pointer;
}

  /* close button */

.close {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  overflow: hidden;
  z-index: 2000;
}

.close::before, .close::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #000;
  border-radius: 8px;
}

.close::before {
  transform: rotate(45deg);
}

.close::after {
  transform: rotate(-45deg);
}

@import "./css/topbar.css";
@import "./css/upload-modal.css";
@import "./css/feed.css";
@import "./css/fullsize.css";